HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/g
!**/src/test/**/build/

### VS Code ###
.vscode/

### Firebase Config ###
**/firebase_config.json
application-dev.yml

### AWS S3 ###
application-s3.yml
application-s3.properties
application-dev.properties

### .DS Store (Mac thing) ###
.DS_Store


